
@media only screen and (min-width: 320px) and (max-width: 766px) {
  .main{
    height: 100%;
  }
  .main-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* height: fit-content; */
    margin-bottom: 8rem;
  }
  .image {
    width: 100%;
  }
  .homepage-banner{
    /* background-color: red; */
  }
  .desc-sm{
    text-align: center;
    /* align-items: center;
    justify-content: center; */
    display: inline-block;
    flex-wrap: wrap;
    font-size: 3.2rem;
    color: #422f70;
    font-family: Rubik-bold;
    margin-bottom: 3.5rem;
  }
  
  .pitch{
    align-self: center;
    text-align: justify;
    width: 90%;
    font-size: 1.5rem;
    display: inline-block;
    color: #bababa;
    font-family: Rubik-Regular;
    font-weight: 800;
  }
  .desc {
    display: none;
    visibility: hidden;
  }
  
  .left-wrap {
    display: inline-block;
    flex-direction: row;
    width: 100%;
    align-self: center;
    text-align: center;
    /* height: 70%; */
    /* margin-top: 10em; */
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    
  }
  .left-wrap-text {
    align-self: center;
    display: inline-block;
    text-align: center;
    
    width: 80%;
    margin: 0 auto;
  }
  .left-wrap-btn{
    display: inline-block;
    flex-direction: row;
    width: 100%;

    text-align: center;
  }
  .social-wrapper{
    display: flex;
    width: fit-content;
    justify-content: center;
    /* align-self: center; */
    margin: 0 auto;
  }
  .stores{
    padding: 0 1rem;
  }
  .stores img {
    width: 100px;
  }
  .create-new-account-wrapper {
    display: none;
  }
  .create-new-account-wrapper-sm {
    display: inline-block;
    width: max-content;
    margin: 40px 0px;
  }
  .homepage-illustration{
   width: 100%;
  }
  .landing-page-image{
    width: 100%;
    
  }
}
/* @media only screen and (max-width: 538) {
  .create-new-account-wrapper-sm {
    display: inline-block;
    width: 100%;
    margin: 40px 0px;
  }
} */
@media only screen and (min-width: 480px) and (max-width: 767px) {
}

/* @media only screen and (min-width: 768px) and (max-width: 991px){ 
    .main{
        flex-direction: column-reverse;
        height: fit-content;
    }
    .left-wrap {
        margin: 20px auto 0px auto;
    }

}
@media only screen and (min-width: 992px){ 
    .features{
        
        margin-top: 0px;
        justify-content: flex-start;
        align-items: flex-start;

    }
    .features-container{
        
        margin: 0px auto;

    } 
    .features-header > h2{
        
        font-size: 29px;
        text-align: center;

    }
    
    .features-header > p{
    
        width: 85%;
        color: lightgray;

    }
} */
