.button-1 {
  color: white;
  background: #28c89c;
  border: 0px solid;
  padding: 0.5rem 2rem;
  border-radius: 45px;
  outline: none;
  border: 1.5px solid #66c3ad;
}

.button-2 {
  color: #442b71;
  background: white;
  border: 0px solid;
  padding: 0.5rem 2rem;
  border-radius: 45px;
  font-weight: bold;
  outline: none;
  border: 1.5px solid #442b71;
}
