@media only screen and (min-width: 320px) and (max-width: 479px) {
  .buttom {
    flex-direction: column;
  }
  .button-wapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: fit-content;
  }
  .tag {
    margin: 5px 5px;
  }
  .question-title h2 {
    font-size: 18px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .question-wrapper {
    min-width: 700px;
  }
}
@media only screen and (min-width: 992px) {
  .buttom {
    padding: 5px 50px;
  }
  /* .question-wrapper {
    min-width: 900px;
  } */

  .faq-right {
    flex: 100%;
  }

  .faq-left {
    display: block;
  }
}
