.wrapper {
  padding: 0px 20px;
}

.signup-input-container {
  width: 80%;
}

.signup-image {
  width: 70%;
}

.sign-up-main-container {
  /* height: 100%;
    display: flex; */
  margin-top: 5rem;
}
.left-wrapper-sign-up {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  color: #422c78;
  text-align: center;
  padding: 2rem 0px;
  margin: auto;
}
.left-wrapper-sign-up > h1 {
  font-family: Rubik-Bold;
  margin: 10px 0px;
}
.left-wrapper-sign-up > span {
  font-size: 30px;
}

.right-wrapper {
  flex: 1;
}
.sign-up-form-wrapper {
  padding: 20px;
  background: white;
  box-shadow: 5px 5px 8px 0px #949292;
  border-radius: 22px;
  /* width: 500px; */
}

.sign-up-form-wrapper > form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.sign-up-form-wrapper > form > span {
  color: lightgray;
}

.sign-up-form-wrapper > form > span > span {
  color: #422d77;
}
.sign-up-form-wrapper > form > div {
  display: flex;
  align-items: center;
}

.sign-up-button-container {
  margin: 20px;
}

.sign-up-with-google {
  width: 50%;
  background: white;
  border: 1.1px solid lightgray;
  padding: 9px;
  border-radius: 39px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px auto;
}
.sign-up-with-google > span:nth-child(2) {
  font-size: 20px;
}

@media only screen and (min-width: 678px) and (max-width: 991px) {
  .left-wrapper-sign-up-cont {
    /*  display: flex;
    justify-content: center;
    align-content: center;
    align-items: center; */
    margin-top: 2rem;
  }

  .left-wrapper-sign-up {
  }
}

@media only screen and (min-width: 1030px) {
  .left-wrapper-sign-up {
    text-align: left;
    width: 70%;
    margin-top: 15px;
  }
  .signup-image {
    margin: 0px 2rem;
    height: 350px;
    width: 400px;
  }
  .left-wrapper-sign-up-cont {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .sign-up-with-google {
    margin: 10px 0;
  }
  .signup-text h3,
  h2 {
    font-size: 2.5rem;
  }

  .left-drop-down .MuiOutlinedInput-root {
    height: 49px;
    margin-top: -1px;
  }
}
