.backdrop-container {
    position: absolute;
    top: 100%;
    width: 100%;
    height: 88vh;
    background: transparent;
    animation-name: show-backdrop;
    animation-duration: 1s;
    z-index: 20;
    left:0;
}

.hambuger{
    cursor: pointer;
}

.dont-show{
    display:none;
    visibility:hidden;
}