    @media only screen and (min-width: 320px) and (max-width: 991px){ 
    .wrapper{
        padding: 0px !important;
        width: 100%;
    }
    .navbar-left {
        width: 50%;
    }
    .navbar-left >  .navlinks{
        display: none;
    }
    .sm-backdrop{
        display: flex;
        /* width: 50%; */
        flex-grow: 1;
        justify-content: flex-end;
    }
    .navBtnContainer{
        display:none;
        visibility:none;
    }

}
@media only screen and (min-width: 992px) and (max-width: 1240px){ 
    .navbar-left{
        max-width: 70%;
    }
    
    .navlinks{
        
        max-width: 350px;
    
    }
    .navbar-right{
        width: 350px;
    }
    .sm-backdrop{
        display:none;
        visibility:none;
    }
    .navBtnContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 30%;
        /* padding: 20px; */
      }
      .navBtn{
         min-width: 40%;
      }
}
@media only screen and (min-width: 1241px) {
    .navbar-left{
        max-width: 70%;
    }
    
    .navlinks{
        
        max-width: 350px;
    
    }
    .navbar-right{
        width: 350px;
    }
    .sm-backdrop{
        display:none;
        visibility:none;
    }
    .navBtnContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 30%;
        /* padding: 20px; */
      }
      .navBtn{
         min-width: 30%;
      }
}