.navBar{
    display: block;
    flex-direction: row;
    max-height: 25%;
    width: 100%;
    align-items: center;
    justify-content: center;
    position: fixed;
    top:0;
    background-color: red;
    
}
.navBar-wrapper{
    display: flex;
    flex-direction: row;
    max-height: 100%;
    width: 100%;
    justify-content: space-between;
    align-self: center;
    /* background-color: white; */
}
.fixed-top{
    padding: .5rem 2.5rem !important;
}
.navlinks{
    display:flex;    
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: white;
    justify-content: space-around;
    max-width: 400px;
}

.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}
.navBtnContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    /* padding: 20px; */
  }
  .navBtn{
     min-width: 30%;
  }
.navbar-right{
    /* display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center; */
    /* width: 30%; */
    /* padding: 0px 20px; */
}