.wrapper {
  padding: 0px 20px;
}

.password-container {
  position: relative;
  width: 100%;
  justify-content: center;
}

.see-password-icon {
  position: absolute;
  bottom: 40%;
  right: 15%;
}

.position-unset {
  position: unset;
}

.forget-password-container {
  width: 80%;
}

.forget-password {
  text-align: left;
  align-self: flex-start;
  padding-left: 1rem;
  color: #422c78;
}

.primary-color {
  color: #422c78;
}

.sign-in-main-container {
  /* height: 100%;
    display: flex; */
  margin-top: 5rem;
  margin-left: 0px;
}
.left-wrapper-sign-in {
  /* flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center; */
  color: #422c78;
  text-align: center;
}

.left-wrapper-sign-in > h1 {
  font-family: Rubik-Bold;
  margin: 10px 0px;
}
.left-wrapper-sign-in > span {
  font-size: 30px;
}

.right-wrapper {
  flex: 1;
}

.sign-in-form-wrapper {
  background: white;
  box-shadow: 5px 5px 8px 0px #949292;
  border-radius: 22px;
  /* width: 500px; */
  padding: 3rem 0rem;
}

.sign-in-form-wrapper > form {
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

form > span {
  color: lightgray;
}

form > span > span {
  color: #422d77;
}

.sign-in-button-container {
  margin: 20px;
}

.right-wrapper-sign-in {
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}
